body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Тёмный фон */
    color: #ffffff; /* Светлый текст */
}

header {
    background: #0077be;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    display: flex; /* Используем flexbox для размещения текста и изображения */
}

section {
    margin-bottom: 20px;
    flex: 2; /* Позволяет секциям занимать доступное пространство */
}

.image-container {
    flex-shrink: 0; /* Не позволяет изображению сжиматься */
    width: 300px; /* Ширина изображения */
    margin-left: 20px; /* Отступ между текстом и изображением */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #0077be;
    color: white;
}

